@import "../../styles/mixin";
@import "../../styles/variables";

// Payment Styles
.btn-payment {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  margin-top: 40px;
  margin-left: 40px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 8px;
  font-size: 1.2rem;
}
