@import "../../styles/mixin";
@import "../../styles/variables";

.form-container {
  width: 100%;
  height: 100%;
  min-height: 75vh;
  .form-content {
    width: 95%;
    height: 100%;
    margin: 0px auto;
    padding: 20px 2%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 12px #ddd;
    margin-bottom: 1.5rem;
    @include for-phone-only {
      padding: 20px;
    }
    .container {
      padding: 30px;
    }
    .form-wrapper {
      width: 100%;
      height: 100%;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      gap: 10px;
      .left {
        width: 100%;
        background-color: red;
      }
    }

    .title {
      font-size: 1.3rem;
      font-weight: 600;
      color: $text-color;
      margin-bottom: 1.3rem;
      margin-left: -33px;
    }
    .phone-only {
      @include for-phone-only {
        background-color: red;
        flex-direction: column;
        gap: 10px !important;
      }
    }
    .ref-select {
      margin-left: 3px;
    }
    .install-select {
      margin-left: 17px;
    }
    .status-select {
      margin-left: 15px;
    }
    .category-select {
      margin-left: 14px;
    }
    .country-select {
      margin-left: 8px;
      @include for-phone-only{
        margin: 0;
      }
      @include for-tablet-landscape-up{
        margin: 0;
      }
    }
    .status-select-13 {
      margin-left: 18px;
    }
    .bill-select {
      width: 100%;
      margin-left: 52px;
    }
    .source-select {
      width: 100%;
      margin-left: 72px;
    }
    .entry-select {
      margin-left: 25px;
    }
    .PhoneInput {
      border: 1px solid #cccccc;
      border-radius: 4px;
      height: 36px;
      padding: 10px 5px;
      width: 70%;
      outline: none;
      @include for-phone-only {
        width: 100%;
      }
      input {
        border: none;
        outline: none;
        width: 1px;
      }

      &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #0d6efd40;
      }
    }

    .btn__holder {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 20px;
      // padding-right: 5%;
    }

    // Search Content
    .search-content {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      i {
        margin-right: -40px;
        position: relative;
        z-index: 99;
        margin-top: 3px;
        font-size: 1.2rem;
        color: #9b9b9b;
      }
      .search-box {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        padding: 0 49px;
      }
    }
  }
}
.row {
  gap: 10px;
  @include for-phone-only {
    flex-direction: column;
  }
}
.ant-picker {
  width: 100%;
  height: 36px;
  margin-left: 42px;

  .ant-picker-input:hover .ant-picker-clear {
    display: none;
  }
}
.css-1wa3eu0-placeholder {
  font-size: 12px;
  color: #e3e3e3;
}
.error-message {
  color: red;
  font-size: 11px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
li.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alt-contact .PhoneInputCountry {
  display: none;
}

.css-2613qy-menu {
  max-height: 100px !important;
  background-color: red !important;
}
.form-control.PhoneInput {
  width: 100%;
  display: flex;

  @include for-phone-only{
    margin: 0;
  }
  @include for-tablet-landscape-up{
    margin: 0;
  }
}
textarea.form-control {
  @include for-phone-only {
    margin-bottom: 10px;
  }
}
