@import "../../styles/mixin";
@import "../../styles/variables";

// Input
.input-fields,
.select {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  position: relative;
  .form-label,
  label,
  .label {
    width: max-content;
    font-size: 15px;
    color: $text-color;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .form-control,
  select {
    width: 100%;
    outline: none;
    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #0d6efd40;
    }
  }
  .select-control {
    width: 100%;
  }
}

.error-messages {
  width: 100%;
  position: relative;
  z-index: 9999;

  .validate {
    width: max-content;
    height: 38px;
    padding: 3px 13px;
    font-size: 12px;
    position: absolute;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid orange;
    right: -19px;
    z-index: 999;
    top: -40px;
    // background-color: #fff;
    border-radius: 4px;
    // box-shadow: 0px 0px 13px #ddd;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 6px;
    //   top: -20px;
    //   border-top: 10px solid transparent;
    //   border-bottom: 10px solid #ffe1a9;
    //   border-left: 10px solid transparent;
    //   border-right: 10px solid transparent;
    // }
    i {
      font-size: 1.2rem;
      margin-right: 10px;
      color: orange;
    }
  }
}
.require {
  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    content: "*";
    // position: absolute;
    margin-left: 2px;
    right: -8px;
    top: 2px;
    color: #ff5050;
    font-weight: bold;
  }
}

input.PhoneInputInput {
  outline: none;
}
select {
  min-width: 82%;
  border: 1px solid #ddd;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

// Toggle Switch

.toggle-scss {
  width: 180px;
  height: 18px;
  margin-top: 2px;
  .toggle-switch {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: #ccc;
    background-color: green;

    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    // background-color: #2196F3;
    background-color: red;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  h3 {
    text-align: left;
  }
}

// Country State Styles
.field__row {
  .input-fields {
    margin-bottom: 3px;

    .country-select {
      margin-left: -49px;
    }

    .state-select {
      margin-left: -49px;
    }
    .country-select1{
      margin-left: 30px;
    }
  }
}

// PhoneNumber Styles
.PhoneInputInput {
  border: transparent;
}
.PhoneInputCountry {
  width: 29px;
}
