.last-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    color: black;
    .t1{
        color:rgb(200, 200, 200);
        font-weight: 500;
    }
    tbody{
      .content{
        color: #4b0082;
        font-weight: bold;
        font-size: 15px;
      }  
    }
   .present{
    .btn-color{
      color: white;
      background-color: #39a3f4;
      border-color: #39a3f4;
      margin-left: 380px;
      margin-top: 40px;
    }
   
   }
   strong{
    
}
}
      