.field__row{
    .input-fields {
        margin-bottom: 3px;

        .country-select{
            margin-left: -49px;
        }
        .state-select{
            margin-left: -49px;
        }
        
    }  
}