$color-primary: #39a3f4;
$color-background: #f8fafb;
$color-secondary: #fffaa338;
$color-black: #000;
$color-white: #fff;

$text-color: #495057;
$title-color: #484848;
$hover-color: #0842980a;

$btn-secondary: gray;
