@import "../../styles/mixin";
@import "../../styles/variables";

.header__container {
  width: 100%;
  height: 60px;
  background-color: $color-primary;

  .header__content {
    width: 100%;
    height: 100%;
    padding: 0 30px;

    .header__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        figure {
          height: 40px;
          object-fit: contain;
          margin: 0;
          background-color: #fff;

          @include for-phone-only {
            height: 30px;
          }

          img {
            height: 100%;
            cursor: pointer;
          }
        }

        .profile {
          display: flex;
          cursor: pointer;
          width: 130px;
          height: 40px;
          align-items: center;
          gap: 10px;
          justify-content: flex-start;
          padding: 0 10px;
          border: 1px solid $color-background;

          .icon__person {
            font-size: 1.6rem;
            color: $color-primary;
          }
        }

        .icon__logout {
          cursor: pointer;
          color: $color-primary;
          background-color: #ffffffd4;
          padding: 10px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 37px;
          border-radius: 4px;
        }
        .icon__notify {
          font-size: 1.5rem;
          color: #fff;
          cursor: pointer;
        }
        .icon__app {
          font-size: 1.5rem;
          color: #fff;
          cursor: pointer;
        }
      }
      .left {
        @include for-phone-only {
          display: none;
        }
      }
    }
  }
}

// bars
.sidenav-toggle {
  // height: 100%;
  // width: 200px;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  // position: relative;
  // cursor: pointer;
  // z-index: 100;
  display: none;
  @include for-phone-only {
    width: 70px;
    display: inline-block;
    position: relative;
    z-index: 100;
  }

  .bars::after,
  .bars::before,
  .bars div {
    background-color: #fff;
    border-radius: 2px;
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    transition: 0.5s;
    @include for-phone-only {
      margin-left: 40px;
    }
  }
}
.isOpenmenu {
  .bars {
    position: fixed;
    &::before {
      transform: translateY(8px) rotate(-135deg);
      background-color: $color-primary;
    }
    &::after {
      transform: translateY(-8px) rotate(135deg);
      background-color: $color-primary;
    }
    div {
      transform: scale(0);
    }
  }
}
.megamenu__container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $color-black;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  z-index: 99;
  @include for-phone-only {
    width: 100%;
  }
  .megamenu__content {
    width: 100%;
    height: 100%;
    padding: 70px 50px;
    ul {
      list-style: none;
      li {
        display: block;
        margin: 30px 0;
        .nav-item.dropdown {
          height: 70px;
        }
        .dropdown-menu {
          font-size: 1rem;
          height: auto;
          // background-color: #fff;
          color: $color-white;
          .dropdown-item {
            font-size: 13px;
          }
        }

        &:hover {
          background-color: $color-black;
          transition: 0.2s;
        }
      }
    }
  }
}
